*

!Dockerfile
!docker-compose.yaml
!.bashrc
!ros2_ws
!ros2_ws/src
!.config
!.config/nvim
!.config/nvim/*
!.config/nvim/latex/*
!.config/nvim/lua/*
!.config/nvim/lua/configs/*
!.config/nvim/lua/plugins/*
!.config/starship.toml
!.gitignore




